<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.ufc.sacc">


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity android:name=".Activity.Activities.MapaActivity">
        </activity>
        <activity
                android:name=".Activity.Activities.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Activities.LoginActivity">
        </activity>
        <activity
                android:name=".Activity.Activities.PrincipalActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Activities.CadastroUsuarioActivity">
        </activity>

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>

        <activity
                android:name="com.facebook.FacebookActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="@string/app_name"/>
        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Activity.Activities.PerfilActivity"
                android:label="Perfil">
        </activity>
        <activity
                android:name=".Activity.Activities.FaqActivity"
                android:label="Perguntas Frequentes">
        </activity>
        <activity
                android:name=".Activity.Activities.SobreActivity"
                android:label="Sobre">
        </activity>
        <activity
                android:name=".Activity.Activities.MarcarConsultaActivity"
                android:label="Marcar Consulta">
        </activity>
        <activity android:name=".Activity.Activities.CadastroFaqActivity">
        </activity>
        <activity android:name=".Activity.Activities.CadastroConsultaActivity">
        </activity>
        <activity android:name=".Activity.Activities.VisualizarConsultasActivity">
        </activity>

        <service
                android:name=".ServicesBroadcasts.ServiceNotificar"
                android:exported="false">
            <intent-filter>
                <action android:name="SERVICO_NOTIFICA_CONSULTAS"/>
            </intent-filter>
        </service>
        <service
                android:name=".ServicesBroadcasts.ServiceVerificaWifi"
                android:exported="false">
            <intent-filter>
                <action android:name="SERVICO_BROADCAST"/>
            </intent-filter>
        </service>

        <receiver android:name=".ServicesBroadcasts.BroadcastWifi">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>